extends ./base.pug
block append style
block body
  nav
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/app") My Songs
    .navlink
      a(href="/allSongs") All Songs
  section#addSong
    form#songForm(class="songForm", name="songForm", action="/adder", method="POST")
      label(for="title") Title: 
      input#songTitle(type="text", name="title", placeholder="Song Title")
      label(for="artist") Artist: 
      input#songArtist(type="text", name="artist", placeholder="Song's Artist")
      label(for="album") Album: 
      input#songAlbum(type="text", name="album", placeholder="Song's Album(optional)")
      input(type="hidden", name="_csrf", value=csrfToken)
      a#addSongSubmit(class="addSongSubmit", href="#") Add Song
block scripts
        script(src="/assets/adder.js")