extends ./base.pug
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
  section#accountInfo
    div
      h3.username Username: #{account.username}
  section#audioControls
    audio#player(controls="" autoplay="" preload autobuffer)
    section
      div.input-group
        input#search(type="search" name="search" class="form-control" placeholder="Search Songs")
        span.input-group-btn
          input#searchB(class="btn btn-default btn-search" type="button" value="Go!")
      div#searchResults
  section
    label(for="message") Message:
    input#message(type="text", name="message", placeholder="Message to Send")
    input#send(type="button", value="send")
    textarea#chat(rows="20", cols="40", readonly)
block scripts
        script(src="/assets/adder.js")
        script(src="/assets/chat.js")
        script(src="/socket.io/socket.io.js")
        script(src="https://connect.soundcloud.com/sdk.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
        script.
          connectSocket(#{account.username})